{% extends 'calendar_app/main.html' %}
    {% block context %}

        <form action="" method="POST">
        {% csrf_token %}
            <p>Tytuł</p><br>
            {{form.title}}<br>
            <p>Początkowa data:</p><br>
            <input type="datetime-local" value={{form.start_date}}<br>
            <p>Końcowa data:</p><br>
            <input type="datetime-local" value={{form.end_date}}<br>
            <p>Opis:</p><br>
            {{form.description}}<br>
            <input type="submit" value="Dodaj">
        </form>

    {% endblock %}
