{% extends 'calendar_app/main.html' %}
    {% block context %}
        <p>Czy na pewno chcesz usunąć "{{event}}"</p>
        <p>Tego zdarzenia nie będzie można przywrócić</p>
        <form action="{% url 'calendar_app:deleteEvent' event.id %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'calendar_app:home'%}">Cofnij</a>
            <input type="submit" value="Usuń">
        </form>
    {% endblock %}
