{% extends 'calendar_app/main.html' %}
    {% block context %}

        <label>startDate</label><br><br>
        <label>{{ event.start_date }}</label><br>
        <label>endDate</label><br><br>
        <label>{{ event.end_date }}</label><br>
        <label>description</label><br><br>
        <label>{{ event.description }}</label><br>

    {% endblock %}
