{% extends 'calendar_app/main.html' %}
    {% block context %}

        <h1>event</h1>
        <table>
            <tr>
                <th>Tytuł</th>
                <th>Usuń</th>
                <th>Zmień</th>
            </tr>
            {% for event in event_list%}
            <tr>
                <td> <a href="{% url 'calendar_app:detail' event.id %}"> {{ event.title }}</a></td>
                <td> <a href="{% url 'calendar_app:deleteEvent' event.id %}"> usuń </a></td>
                <td> <a href="{% url 'calendar_app:updateEvent' event.id %}"> zmień </a></td>

            </tr>
            {% endfor %}
        </table>

    {% endblock %}
