<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kalendarz</title>
</head>
<body>
    {% include 'calendar_app/navbar.html' %}

    {% block context %}

    {% endblock %}
</body>
</html>