{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'calendar_app/css/navbar.css' %}">
    <div class="navbar">
        <h1 >Navbar</h1>
        <a href="{% url 'calendar_app:createEvent' %}">Stwórz Event</a>
        <a href="{% url 'calendar_app:logoutUser' %}">Wyloguj</a>

    </div>
<hr>